.breadcrumb {
    background-color: #f5f5f5;
     height: 39px;
    line-height: 39px;
    overflow: hidden;
    padding-left: 20px;
     margin-bottom: 10px;
}
.Hui-iconfont {
    -webkit-text-stroke-width: 0.2px;
    font-family: "Hui-iconfont" !important;
    font-style: normal;
}

.breadcrumb span {
    padding: 0 5px;
}
.en {
    font-family: Arial !important;
}
.btn-success {
    background-color: #5eb95e;
    border-color: #5eb95e;
    color: #fff;
}
.btn {
    border: 1px solid #ddd;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    transition: background-color 0.1s linear 0s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}
.btn, .btn.size-M {
    padding: 4px 12px;
}
.input-text, .btn, .input-text.size-M, .btn.size-M {
    font-size: 14px;
    height: 31px;
    line-height: 1.42857;
}
.radius {
    border-radius: 4px;
    overflow: hidden;
}
.mr-20 {
    margin-right: 20px;
}
.r, .f-r {
    float: right !important;
}