<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
      http://www.springframework.org/schema/context
      	http://www.springframework.org/schema/context/spring-context-4.3.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
     
<!-- 	     不扫描@Controller,扫描注解Bean dkz加注，这里是spring管控service和bean的地方不能去扫描springmvc的controller，我遇到的是事务会失效  -->
    <context:component-scan base-package="com.business.admin.service.*" >
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>  
	
	<!-- 注入sorl -->
	<bean id="solrService" class="org.apache.solr.client.solrj.impl.HttpSolrServer">
		<constructor-arg name="baseURL" value="http://192.168.124.131:8080/solr"></constructor-arg>
	</bean>
	
	<!-- 数据库配置 -->
	
	<bean id="propertyConfigurer"
		  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:properties/jdbc.properties</value>
			</list>
		</property>
	</bean>
	<context:annotation-config />

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.business.admin.dao" />  <!-- 扫面定义好的dao -->
		<property name="sqlSessionFactoryBeanName" value="masterSqlSessionFactory" />
	</bean>

	<!-- <tx:annotation-driven transaction-manager="transactionManager" /> -->
	<bean id="transactionManager"
		  class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="masterSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation"
				  value="classpath:mybatis/SqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations"
				  value="classpath:mapper/*.xml" />
	</bean>

	<!-- 配置数据源 -->
	<!-- 数据库连接池 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="driverClassName" value="${jdbc.driver}" />
		<!-- 初始化连接大小 -->  
        <property name="initialSize" value="${jdbc.initialSize}"></property>  
        <!-- 连接池最大数量 -->  
        <property name="maxActive" value="${jdbc.maxActive}"></property>  
        <!-- 连接池最大空闲 -->  
        <property name="maxIdle" value="${jdbc.maxIdle}"></property>  
        <!-- 连接池最小空闲 -->  
        <property name="minIdle" value="${jdbc.minIdle}"></property>  
        <!-- 获取连接最大等待时间 -->  
        <property name="maxWait" value="${jdbc.maxWait}"></property>  
	</bean>
	


	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 事务切面 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
			<tx:attributes>
				<tx:method name="save*" propagation="REQUIRED"/>
				<tx:method name="add*" propagation="REQUIRED"/>
				<tx:method name="create*" propagation="REQUIRED"/>
				<tx:method name="insert*" propagation="REQUIRED"/>
				<tx:method name="update*" propagation="REQUIRED"/>
				<tx:method name="merge*" propagation="REQUIRED"/>
				<tx:method name="del*" propagation="REQUIRED" />
				<tx:method name="remove*" propagation="REQUIRED" />
				<tx:method name="put*" propagation="REQUIRED" />
				<tx:method name="use*" propagation="REQUIRED" />
				<tx:method name="find*" propagation="SUPPORTS" />
				<tx:method name="get*" propagation="SUPPORTS" />
				<tx:method name="select*" propagation="SUPPORTS" />
			</tx:attributes>
	</tx:advice>
		<!-- 采用@Transactional注解方式使用事务   -->  
    <tx:annotation-driven transaction-manager="txManager"/> 
    <aop:config>
			<aop:pointcut id="pc"
				expression="execution(* com.business.admin.*service.*(..))" />
			<aop:advisor pointcut-ref="pc" advice-ref="txAdvice" />
	</aop:config>
</beans>
