<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>角色维护</title>
    <link rel="shortcut icon" href="favicon.ico"> <link href="${ctxPath}/res/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="${ctxPath}/res/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="${ctxPath}/res/css/animate.min.css" rel="stylesheet">
    <link href="${ctxPath}/res/css/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="${ctxPath}/res/css/plugins/treeview/bootstrap-treeview.css" rel="stylesheet">
     @include("/lg.html"){} 
</head>
<body style="padding: 4px; overflow: hidden;">
   @include("/breadcrumb.html"){}
	<input type="hidden" id="MenuNo" value="${MenuNo}" />
 <form id="mainform">
    <div id="maingrid"  style="margin:2px;"></div> 
    </form> 
  <script type="text/javascript">
      //列表结构
    var grid = $("#maingrid").ligerGrid({
         columns: [
          { display: "角色名", name: "name", width: 280, type: "text", align: "left"
                , validate: { required: true }
                , editor: { type: 'text' }
          },
          { display: "描述", name: "description", width: 580, type: "textarea", align: "left", editor: { type: 'text'} }
          ], dataAction: 'server', pageSize: 20, toolbar: {},
          url: basepath +'system/systemRoleMessage', 
          sortName: 'id', 
          width: '100%', height: '100%',heightDiff:-10, checkbox: false,enabledEdit: true, clickToEdit: false
      });
      //双击事件
      LG.setGridDoubleClick(grid, 'modify');
      //验证
      var maingform = $("#mainform");
      $.metadata.setType("attr", "validate");
      LG.validate(maingform, { debug: true }); 
      //加载toolbar
      LG.loadToolbar(grid, toolbarBtnItemClick);
      //工具条事件
      function toolbarBtnItemClick(item)
      {
          var editingrow = grid.getEditingRow();
          switch (item.id) {
              case "add":
                  if (editingrow == null)
                  {
                      addNewRow();
                  } else
                  {
                      LG.tip('请先提交或取消修改');
                  }
                  break;
              case "modify":
                  var selected = grid.getSelected();
                  if (!selected) { LG.tip('请选择行!'); return; }
                  if (editingrow == null)
                  {
                      beginEdit();
                  } else
                  {
                      LG.tip('请先保存或取消修改');
                  }
                  break;
              case "delete":
                  jQuery.ligerDialog.confirm('确定删除吗?', function (confirm) {
                      if (confirm)
                          f_delete();
                  });
                  break;
              case "save":
                  if (editingrow != null)
                  {
                      grid.endEdit(editingrow);
                  } else
                  {
                      LG.tip('现在不在编辑状态!');
                  }
                  break;
                  
              case "cancel":
            	  if (editingrow != null)
                  {
                      grid.cancelEdit(editingrow); 
                  } else
                  {
                      LG.tip('现在不在编辑状态!');
                  }
                  break;
          }
      }
      function f_reload() {
          grid.loadData();
      }
      function f_delete() {
          var selected = grid.getSelected();
          if (selected) {
              LG.ajax({
                  url:basepath+"sysRole/delete.do",
                  loading: '正在删除中...',
                  data: { id: selected.id },
                  success: function () {
                      LG.showSuccess('删除成功');
                      f_reload();
                  },
                  error: function (message) {
                      LG.showError(message);
                  }
              });
          }
          else {
              LG.tip('请选择行!');
          }
      }
      grid.bind('beforeSubmitEdit', function (e)
      {
          if (!LG.validator.form())
          {
              LG.showInvalid();
              return false;
          }
          return true;
      });
      grid.bind('afterSubmitEdit', function (e)
      {
          var isAddNew = e.record['__status'] == "add";
          var data = $.extend(true, {}, e.newdata);
          if (!isAddNew)
              data.id = e.record.id;
          LG.ajax({
              loading: '正在保存数据中...',
              url: basepath+"sysRole/"+(isAddNew ? "insert.do" : "update.do"),
              data: data,
              success: function ()
              { 
                  grid.loadData();
                  LG.tip('保存成功!');
              },
              error: function (message)
              {
                  LG.tip(message);
              }
          });
          return false;
      }); 
      function beginEdit()
      {
          var row = grid.getSelectedRow();
          if (!row) { LG.tip('请选择行'); return; }
          grid.beginEdit(row);
      }
      function addNewRow()
      {
          grid.addEditRow();
      } 
  </script>
</body>
</html>